@import "tailwindcss";


nextjs-portal {
  display: none;
}

/* primary color: #1f514c */

body {
  font-family: var(--font-poppins);
  overflow: auto !important;
}

.poppins {
  font-family: var(--font-poppins);
}

.playfair {
  font-family: var(--font-Playfair_Display);
}

.hedvig {
  /* font-family: var(--font-hedvig-letters-sans); */
  font-family: "Hedvig Letters Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.grotesk {
  font-family: var(--font-Space_grotesk);
}